In [1]:
import pandas as pd

In [2]:
dataset_path = "data/tetouan_power_data.csv"

data = pd.read_csv(dataset_path)

In [3]:
data.describe()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

In [4]:
def find_max(in_mat):
    max_val = 0

    for i in range(len(in_mat)):
        if in_mat[i] > max_val:
            max_val = in_mat[i]

    return max_val

In [13]:
temp_max = find_max(data['Temperature'])
print(temp_max)

40.01

In [7]:
def find_min(in_mat):
    min_val = 10000

    for i in range(len(in_mat)):
        if in_mat[i] < min_val:
            min_val = in_mat[i]
    
    return min_val

In [8]:
temp_min = find_min(data['Temperature'])
print(temp_min)

3.247

In [9]:
def find_mean(in_mat):
    return sum(in_mat) / len(in_mat)

In [10]:
temp_mean = find_mean(data['Temperature'])
print(temp_mean)

18.810023962149035

In [11]:
from math import sqrt
def find_std(in_mat):
    numerator = 0
    mean = find_mean(in_mat)

    for i in range(len(in_mat)):
        numerator += (in_mat[i] - mean) ** 2
    
    std = sqrt(numerator / len(in_mat))

    return std

In [12]:
temp_std = find_std(data['Temperature'])
print(temp_std)

5.8154203644009295

In [14]:
class MinMax:
    def __init__(self, values):
        self.values = values
        self.min_val = self.find_min(values)
        self.max_val = self.find_max(values)
        self.max_min_diff = self.max_val - self.min_val

    def minmax(self, in_mat):
        return [(in_mat_i - self.min_val) / self.max_min_diff for in_mat_i in in_mat]

    def find_min(self, in_mat):
        min_val = 10000

        for i in range(len(in_mat)):
            if in_mat[i] < min_val:
                min_val = in_mat[i]
        
        return min_val
    
    def find_max(self, in_mat):
        max_val = 0

        for i in range(len(in_mat)):
            if in_mat[i] > max_val:
                max_val = in_mat[i]

        return max_val

In [15]:
temp_val = MinMax(data['Temperature'])

In [16]:
data['Temperature'] = temp_val.minmax(temp_val.values)

In [17]:
data.describe()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,0.423334,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,0.158188,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,0.000000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,0.303648,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,0.422517,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,0.534314,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,1.000000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360